.DS_Store
.bash_history
.cache
.cargo
.config
.mal-history
.mal_history
.crystal
.lein
.m2
.ivy2
.sbt
.npm
.node-gyp
package-lock.json
*/experiments
node_modules
*/notes
GPATH
GTAGS
GRTAGS
logs
old
tmp/
*.class
*.pyc

.vscode
impls/.clang-format
impls/java/target/classes/mal/core.class
impls/.gitignore
impls/java/target
impls/python/__pycache__
impls/.clang-tidy
impls/.gitattributes
impls/.editorconfig
